body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #fff;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    font-weight: bold;
    font-weight: normal;
    color: #436b95;
}

a:hover {
    text-decoration: underline;
}

.post-meta {
    float: right;
/*    color: #666;*/
    font-size: 0.85em;
    line-height: 1.2;
    margin: 0px 0px 10px 20px;
    width: 13em;
    padding: 5px;
}

.post-meta-1, .post-meta-1 a {
    background: #def none repeat scroll 0 0;
    color: #345;
}

.datetime {
}

/*.datetime {*/
/*    float: right;*/
/*    color: #666;*/
/*    font-size: 14px;*/
/*    line-height: 1.2;*/
/*    margin: 15px -10px 20px 20px;*/
/*    margin: 0px -10px 20px 20px;*/
/*    margin: 0px 0px 10px 20px;*/
/*|+    background: #eee;+|*/
/*|+    background: #eee;+|*/
/*|+    border: 2px solid #eef;+|*/
/*|+    border-bottom: 2px solid #eee;+|*/
/*    padding: 5px;*/
/*}*/

.datetime-time {
    float: left;
    font-size: 12px;
/*    margin-left: 10px;*/
}

.datetime-weekday {
    float: left;
/*    color: #666;*/
    font-size: 16px;
/*    margin-bottom: 0.1em;*/
    font-variant: small-caps;
/*    text-transform: uppercase;*/
}

.datetime-month-day-year {
    float: left;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
/*    background-color: #999;*/
/*    color: #eee;*/
    line-height: 12px;
    padding: 3px 0;
}

.post {
    color: #333;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}

.post-title {
    font-size: 28px;
    font-weight: bold;
}

.post-header {
    margin-bottom: 0.5em;
}

.post-title a {
}

.post-body pre.code {
/*    background: #ffe;*/
    margin-left: 1em;
    border-left: 4px solid #ccc;
/*    border-top: 2px dotted #ccc;*/
/*    border-bottom: 2px dotted #ccc;*/
    margin-bottom: 1em;
    padding: 10px 10px;
/*    color: #000;*/
}
.post-separator {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.header {
    margin: 1em 0;
    border-bottom: 2px solid #ccc;
}

.header-title {
    font-size: 24px;
    margin-left: 2em;
}

.header-home {
    background-color: #436b95;
    background-color: #7ad;
    position: relative;
/*    width: 24px;*/
/*    height: 24px;*/
    
}
