body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #fff;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    font-weight: bold;
    font-weight: normal;
    color: #436b95;
}

a:hover {
    text-decoration: underline;
}

.datetime {
    float: left;
    color: #666;
    font-size: 14px;
}

.datetime-time {
    float: left;
    font-size: 16px;
/*    margin-left: 10px;*/
}

.datetime-weekday {
    float: left;
    color: #666;
    font-size: 20px;
    text-transform: uppercase;
}

.datetime-month-day-year {
    float: left;
    overflow: hidden;
    font-weight: bold;
    background-color: #999;
    color: #eee;
    line-height: 12px;
    padding: 5px;
}

.post {
    color: #333;
    font-size: 14px;
}

.post-title {
    font-size: 28px;
    font-weight: bold;
}

.post-header {
    margin-bottom: 0.5em;
}

.post-title a {
}

.post-body pre.code {
    background: #ffe;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 1em;
    padding: 1em 0.5em;
/*    color: #000;*/
}
.post-separator {
    margin-top: 2.5em;
}

.clear {
    clear: both;
}
